.post-title {
 font-size:3rem;
}

div.callout {
 margin-left: 5%;
 margin-right: 5%;
}

div.DEFINITION {
}

div.callout .callout-title {
 font-weight: bold;
 font-size: 1.1em;
}
div.callout .callout-body {
 font-style: italic;
}

code {
 background-color:white;
 padding:.0em .0em;
 font-size:100%; 
}

div.highlight {
 padding:0;
}

div.highlight pre {
 padding:0.1rem;
 line-height: 1.3;
}

pre code {
 font-size:90%;
}

pre code span {
}

@media (max-width: 1000px) {
 pre code {
  font-size:70%;
 }
 div.highlight pre {
  line-height: 0.9;
 }
 main {
  width:90%;
 }
}

@media (max-width: 750px) {
 pre code {
  font-size:65%;
 }	
 div.highlight pre {
  line-height: 0.8;
 }
 main {
  width:95%;
 }
}

@media (max-width: 400px) {
 pre code {
  font-size:55%;
 }	
 div.highlight pre {
  line-height: 0.7;
 }
 main {
  width:98%;
 }
}

@media print {
	html body {
		color:black;
	}

	main {
		width:98%;
	}

	h1.post-title {
		font-size:200%;
	}

	div.highlight pre {
		word-wrap:break-word;
		line-height: 1.1;
	}
	code {
		color:black;
		word-wrap:break-word;
	}

	 pre code {
		font-size:90%;
	}
	
	code span {
		color:black;
		background-color:white;
		word-wrap:break-word;
	}
	
	/* source: https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/ */
	a {
		page-break-inside:avoid
	}
	blockquote {
		page-break-inside:avoid;
	}
	
	h1, h2, h3, h4, h5, h6 {
		page-break-after:avoid; 
		page-break-inside:avoid
	}
	img {
		page-break-inside:avoid; 
		page-break-after:avoid;
	}
		
	/* Displaying link color and link behaviour */
	a:link, a:visited, a {
		background: transparent;
		color: black;
	}

	a {
		page-break-inside:avoid
	}

	a[href^=http]:after {
		  content:" (" attr(href) ") ";
	}

	$a:after > img {
	   content: "";
	}

	article a[href^="#"]:after {
	   content: "";
	}

	a:not(:local-link):after {
	   content:" (" attr(href) ") ";
	}	
}